@font-face {
    font-family: "Aller";
    src: url("../fonts/aller_rg-webfont.woff") format('woff');
}

@font-face {
    font-family: "Aller";
    src: url("../fonts/aller_bd-webfont.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Aller";
    src: url("../fonts/aller_it-webfont.woff") format('woff');
    font-style: italic;
}

body {
    font-size: 14px;
    font-family: Aller, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    border: 8px solid #333;
}

footer {
    clear: both;
    background-color: #333;
    color: white;
    font: italic 10px Aller;
    height: 50px;
    padding: 7px 0 0 60px;
}

button {
    background-color: #F47513;
    border: 0;
    margin-right: 10px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.header-banner {
    display: flex;
    flex-flow:row wrap;
    background: #F89F1B;
    padding: 30px 8%;
}

.logo {
    order:1;
    flex:1;
    margin-bottom: 10px;
}

.logo h1 {
    margin: 0;
    font-weight: normal;

}

.logo h2 {
    font-style: italic;
    margin: 0;
    padding-left: 1em;
    font-size: 0.97em;
    font-weight: normal;
}

.logo img {
    margin-bottom: -11px;
}

.header-actions {
    order:2;
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.header-actions button {
    background-color: #F04100;
    font-size: 14px;
    height: 75px;
    line-height: 18px;
    text-align: center;
    width: 110px;
}

.content-container {
    display: flex;
    flex-flow:row wrap;
    padding: 2% 8%;
}

.accounts-table table {
    margin-top: 3px;
    width: 100%;
    border-collapse:collapse;
}

.accounts-table .totals td {
    border-top: 3px solid #8C8C8C;
}

.accounts-table td {
    padding: 0.3em 1em 0.3em 1em;
    border-top: 1px solid #ccc;
}

.accounts-table table th {
    background-color: #8C8C8C;
    color: #F8E5C9;
    font: bold normal 11px/22px Aller;
    height: 22px;
    text-transform: uppercase;
    padding: 0.15em 1em 0.15em 1em;
}

.left-section {
    order: 1;
    margin-right: 20px;
}

.left-header {
    display: flex;
    height: 30px;
}

.left-header button {
    height: 25px;
    width: 100px;
}

.left-header button img {
    height: 13px;
    vertical-align: middle;
}

.left-header > .actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.legend {
    width: 30px;
    height: 16px;
    margin: 0 auto;
    border: 1px solid silver;
}

/* Right Section */
.right-section {
    order: 2;
    width: 300px;
    background: #ccc;
}

.right-section .chart {
    height: 300px;
}

.right-section .chart-title {
    padding: 10px;
}

.right-section .help-label {
    padding: 10px;
    font-style: italic;
    color: grey;
    font-size: 0.8em;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

