<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bullsfirst</title>

    <link rel="stylesheet" href="css/app.css">

    <!-- Libs -->
    <script src="node_modules/angular/angular.js"></script>

    <!-- Application -->
    <script src="js/app.js"></script>
    <script src="js/services/AccountsStorage.js"></script>
    <script src="js/controllers/AccountsController.js"></script>
</head>
<body ng-app="bullsfirst">

<!-- Header -->
<div id="header">
    <div class="logo">
        <img src="img/horns.png"/>

        <h1>bullsfirst</h1>

        <h2>Calling All Bull Markets</h2>
    </div>

    <div class="actions">
        <button><img src="img/trade-icon.png"/><br/>Trade</button>
        <button><img src="img/transfer-icon.png"/><br/>Transfer</button>
    </div>
</div>

<!-- Content -->
<div id="content" ng-controller="AccountsController">
    <div class="left-section">
        <div class="header">
            <strong>Accounts</strong>

            <div class="actions">
                <button ng-click="addAccount()"><img src="img/plus-icon.png"/>&nbsp;Add Account</button>
                <button><img src="img/refresh-icon.png"/>&nbsp;Refresh</button>
            </div>
        </div>

        <table>
            <tr>
                <th class="left-align">Name</th>
                <th class="right-align">Market Value</th>
                <th class="right-align">Cash</th>
                <th>Legend</th>
            </tr>

            <tr ng-repeat="row in rows">
                <td>{{ row.name }}</td>
                <td class="right-align">{{ row.marketValue | currency }}</td>
                <td class="right-align">{{ row.cash | currency }}</td>
                <td>
                    <div class="legend" style="background-color: {{ row.legend }}"></div>
                </td>
            </tr>

            <tr class="totals">
                <td></td>
                <td class="right-align">
                    <strong>{{ totals.marketValue | currency }}</strong>
                </td>
                <td class="right-align">
                    <strong>{{ totals.cash | currency }}</strong>
                </td>
                <td></td>
            </tr>


        </table>
    </div>

    <div class="right-section">
        <div class="chart-title">All Accounts</div>
        <img class="chart" src="chart.png" alt="Chart">

        <div class="help-label">Click on an account to view positions</div>
    </div>

</div>

</body>
</html>